{
    "presets": [
        "@babel/preset-react",
        "@babel/preset-env",
        [
            "@babel/preset-typescript",
            {
                "isTSX": true,
                "allExtensions": true
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ],
        "@babel/plugin-proposal-optional-chaining",
        [
            "css-modules-transform",
            {
                "extractCss": "./styles/main.css"
            }
        ],
        "babel-plugin-inline-react-svg",
        [
            "react-intl",
            {
                "messagesDir": "./build/messages/"
            }
        ]
    ]
}
