{
    "presets": ["@babel/preset-react", "@babel/preset-env"],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                regenerator: true
            }
        ],
        "@babel/plugin-proposal-optional-chaining",
        [
            "css-modules-transform",
            {
                "extractCss": {
                    "devMode": true,
                    "dir": "./styles/",
                    "relativeRoot": "./src/package",
                    "filename": "[path]/[name].css"
                }
            }
        ],
        "babel-plugin-inline-react-svg",
        [
            "react-intl",
            {
                "messagesDir": "./build/messages/"
            }
        ]
    ]
}
