{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": ["react-hooks", "babel", "react", "jsx-a11y"],
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "arrow-parens": "off",
        "comma-dangle": ["error", "never"],
        "function-paren-newline": "warn",
        "implicit-arrow-linebreak": "off",
        "import/no-cycle": ["off"],
        "import/no-extraneous-dependencies": ["warn"],
        "import/prefer-default-export": "off",
        "import/no-named-as-default": "off",
        "indent": ["off", 4],
        "jsx-a11y/alt-text": "off",
        "jsx-a11y/no-static-element-interactions": ["off"],
        "jsx-a11y/href-no-hash": ["off"],
        "jsx-a11y/click-events-have-key-events": ["warn"],
        "max-len": ["off", 120],
        "no-tabs": ["off"],
        "no-alert": "error",
        "no-console": ["off"],
        "no-underscore-dangle": ["off"],
        "object-curly-newline": "off",
        "operator-linebreak": ["error", "after"],
        "prefer-destructuring": "warn",
        "react/destructuring-assignment": ["warn", "always"],
        "react/jsx-curly-brace-presence": ["off"],
        "react/jsx-indent": ["off"],
        "react/jsx-indent-props": ["off"],
        "react/jsx-props-no-spreading": ["off"],
        "react/jsx-no-literals": ["error", { "noStrings": false }],
        "react/jsx-wrap-multilines": ["error", { "declaration": false, "assignment": false }],
        "react/jsx-tag-spacing": "off",
        "react/no-array-index-key": "off",
        "react/prop-types": ["off"],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "off",
        "space-before-function-paren": "off"
    },
    "globals": {
        "window": true,
        "talkus": true,
        "document": true,
        "localStorage": true
    }
}
