/*  imported from global.css  */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#global__root___2tQpj {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    animation: global__fade-in___g8bjJ 1s ease;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
